[2020-10-10 19:25] dr-orlovsky opened #2 "Update & finalize integration APIs for fungible tokens"
This is related to
1. C bindings from `ffi`
2. Android lib & demo app from `ffi/android`
3. iOS demo app (directly using C FFI) from `ffi/ios`
4. NodeJS npm swig-based module and demo from `ffi/nodejs`

Tasks:
~~- [ ] Remove token issue procedure, since it is not required. Tokens will be issued only once, and probably with a separate command-line tool written in pure rust. It will not be a part of

[2020-10-10 20:13] dr-orlovsky opened #1 "Python bindings/wrapper"
In the same way as we have them for the other languages

[2020-10-12 15:50] UkolovaOlga commented on #1
This task should be reopened @dr-orlovsky, because:

a) you can't find the corresponding Python folder in the `ffi` one [here](https://github.com/LNP-BP/rgb-sdk/tree/master/ffi)
b) you closed this task with [this](https://github.com/LNP-BP/rgb-sdk/commit/0351be1603a35a5525682086763c3cfa96c6a1d0) commit which is old/outdated and not relevant to the current issue.

[2020-10-12 16:18] UkolovaOlga commented on #2
@dr-orlovsky are Python bindings/wrappers also required to be present in `ffi` folder in addition to android, ios and nodejs?

[2020-10-12 16:46] dr-orlovsky commented on #2
Yes, but it can be done later, since not time-critical

[2020-10-12 16:48] dr-orlovsky commented on #1
Was closed by GitHub mistake since it does not differentiate issues from different projects

[2020-10-12 16:54] UkolovaOlga commented on #2
Python wrappers and bindings issue can be found [here](https://github.com/LNP-BP/rgb-sdk/issues/1)

[2020-10-17 13:26] zoedberg opened #5 "Fix Android integration"
After updating android integration in this project, trying run `./gradlew build` I've encountered this error:
[code]
After a `cargo clean` the same error can appear for `lnpbp_derive`. Both dependencies are `proc-macro` and are lnp-bp forks.
The symbol `__errno` is defined in `libc.so` but in `libamplify_derive_xxx.so` and `liblnpbp_derive_xxx.so` the symbol is actually undefined and unlinked (ins

[2020-10-17 15:40] zoedberg commented on #5
I don't know the reason of many of the reported problems encountered while debugging.

But I've figured out why the library produced from `rgb-sdk` (with the `cargo build` on top of `build_rust.sh`) wasn't linking correctly the libraries. I was accidentally overriding the `librgb.so` generated from `clang++` with the one generated by `cargo`, by forgetting to remove a `cp` from `build_rust.sh` (wa

[2020-10-17 15:52] dr-orlovsky commented on #5
Zoe, the work you've done in investigating and describing thos issues is really important. I am quite sure that many may run into them, and having them sorted out once and for all is really needed. So thank you very much for your efforts!

I am glad that you've managed to fix builder code to get android app linked properly. Just a few comments on the parts of issues above that I've encountered mys

[2020-10-19 19:47] #5 closed

[2020-10-20 12:49] zoedberg commented on #2
I have two considerations about token issue procedure removal:

1) I've noticed that the `IssueArgs` class defined in `ffi/android/library/src/main/java/org/lnpbp/rgbnode/model/IssueArgs.java` contains the class `CoinAllocation`. This class is necessary when calling `transfer` (`public void transfer(List<String> inputs, List<IssueArgs.CoinAllocation> allocate, ... )`). I think I can just move `Coi

[2020-10-21 12:38] dr-orlovsky opened #8 "Post-release check for v0.1.0"
Today I made a final release of version 0.1 for both LNP/BP Core Library and RGB Node crates + updated corresponding docker images. We need to move to crate links in this repo and make sure everything builds and create a release here as well. As the last-minute change there was a removal of the need to provide fee size for the RGB Node in transfer request (it is now auto-computed from PSBT data),

[2020-10-21 14:24] dr-orlovsky opened #9 "WASM bindinds with rust-wasm-bindgen"
https://github.com/rustwasm/wasm-bindgen

[2020-10-21 14:36] dr-orlovsky commented on #2
1. Yes, we will need this class all around, so it will be good to move it into a separate file
2. I think we can wait with removing issuance procedure before we will have more convenience functions to demo.

The most important for now is to make sure we link with v0.1 release (and not master) of RGB Node and everything still works

[2020-10-22 13:47] zoedberg commented on #8
I don't understand what do you mean here, could you explain me? At the moment there's only a Dockerfile in this repo (the one for nodejs, already tested with rgb_node 0.1.0) that downloads rgb_node and all other deps using the same `Cargo.toml` used locally

[2020-10-22 19:05] dr-orlovsky commented on #8
Right, now I see.

[2020-10-23 09:05] #8 closed

[2020-10-31 12:32] zoedberg opened #14 "demos error: Integration(ServiceError(LnpTransport(SocketError)))"
Executing demos, they seem to get stuck after each call consequent to `start_rgb`. After a while they return this error: `Integration(ServiceError(LnpTransport(SocketError)))`.
(verified for android and node.js demos)

How to reproduce the error (with node.js v10):
[code]

Calling `transfer` (changing `transferData.invoice` to `rgb20:utxob1rtvk9vxwhrj39vyd9f84thssr53k088pv59f078quhcc5g6pavzscynjnq

[2020-10-31 19:25] dr-orlovsky commented on #14
As error suggests, socket (connecting client and the node) fails to operate. It may be that `/tmp` on Android is probably not accessible, or `/tmp/rgb-node/testnet` does not exist

[2020-11-01 10:50] zoedberg commented on #14
I created `/tmp/rgb-node/testnet` and `/tmp/rgb-node/output`, checked directory permissions, and retried to execute **node.js** demo: unfortunately the error doesn't change. I've also stayed in `watch` on the `datadir` path, where I expected to see the socket files appear, but nothing appears there.

On **android** the `datadir` gets set to `/data/user/0/org.lnpbp.demoapp/files/testnet/` (output o

[2020-11-01 15:12] dr-orlovsky commented on #14
Well, strange. The `socket dropped` is basically indication that the process got finished or terminated; it's the last message from ZMQ lib when the process exits. And it exits since it fails to talk to the socket (before it's dropped).

Will look into the issue a bit later, no idea for now what can go wrong...

[2020-11-03 14:31] zoedberg commented on #14
Updating to rgb-node `0.2.0-beta.1` the error has changed to: `Integration(ServiceError(LnpTransport(Zmq(Interrupted system call))))`

To trigger the error without having to wait I just move the shell (`guake`) from a screen to another (I can't understand the reason behind this).
Running `strace -fo /tmp/example.strace node example.js` I see a lot of `ENOENT`s on `/tmp/rgb-node/testnet/fungibled.r

[2020-11-03 15:05] dr-orlovsky commented on #14
I think the issue may be related to ZMQ android build. I recall we have solved some similar problem before...

Can you try adding
[code]

To Cargo.toml?

[2020-11-03 15:06] dr-orlovsky commented on #14
And this one:

[code]

[2020-11-03 17:17] zoedberg commented on #14
this is a piece of the `Cargo.toml` in rgb-sdk:
[code]

so it seems we already have both.

Moreover the problem is not only on android, but also on node demo.

[2020-11-04 16:55] zoedberg commented on #14
Some more info that may help:

`touch`ing the `/tmp/rgb-node/testnet/fungibled.rpc` file **and** changing `contract_endpoints.Fungible` from `lnpz:///tmp/rgb-node/testnet/fungibled.rpc` to `/tmp/rgb-node/testnet/fungibled.rpc` (in `demo/nodejs/example.js`) causes the `strace` log to change from `ENOENT` to `ECONNREFUSED`:

[code]

notes:
1) creating the file but keeping the path as `lnpz:///tmp/rg

[2020-11-04 20:59] dr-orlovsky commented on #14
Yeah, ZMQ clearly will not understand `lnpz:///` prefix - and it's stripped on all other platforms before passing to ZMQ.

Can you try with `ipc://` prefix? And also, may be something wrong with file access rights or rights on `tmp`?

[2020-11-05 09:50] zoedberg commented on #14
Also `ipc://` prefix doesn't work. So it really seems to be a matter of missed stripping.
I see the path is treated as a `ZmqSocketAddr`, which is defined in `src/lnp/transport/zmqsocket.rs` (`rust-lnpbp`).
I guess the stripping should be done there so now I'm investigating there.

Already checked directory access rights, they are ok (`rwx` for the user running the example)

[2020-11-05 11:29] zoedberg commented on #14
previous test done on cd71cac (which uses rust-lnpbp `0.1.1`):
- using `ipc:/tmp/rgb-node/testnet/fungibled.rpc` in the `example.js` and `touch`ing the file -> `ECONNREFUSED`
- `sun_path` contains only the path, withouth the prefix

so my current conclusions are:
- rust-lnpbp `v0.2.0-beta.1` (used by rgb-node `v0.2.0-beta.1`):
    - seems to have a bug on prefix stripping (`strace` shows `sun_path

[2020-11-05 15:00] zoedberg commented on #14
Changing `config.threaded` to `true` in the `example.js` I obtain these logs:
[code]
the last error logged comes from [here](https://github.com/LNP-BP/rgb-sdk/blob/master/rust-lib/src/lib.rs#L35), so at the C bindings level.

Moreover changing `threaded` to `true` causes the node.js example to correctly create the files in the `/tmp/rgb-node/testnet/` directory. @dr-orlovsky Could you explain me t

[2020-11-05 15:25] zoedberg commented on #14
I've found out where the `Runtime(ArgParseError("Type mismatch"))` error was coming from. It is related to a node.js example bug that I've just found and solved.

Now the `example.js` logs:
[code]
so the point where it fails now seems to be [this](https://github.com/LNP-BP/rgb-node/blob/v0.2.0-beta.1/src/contracts/fungible/runtime.rs#L256)

[2020-11-05 23:14] dr-orlovsky commented on #14
Oh, BTW Android does not allow IPC through socket files at all! Forgot about that. You can run only in multithreaded mode, and for that you have to use Inproc "sockets" (which are not sockets at all, but just ARC-shared memory managed by ZMQ internally).

Regarding the latest error: you are transferring asset from UTXO which does not have asset allocation.

[2020-11-06 15:54] zoedberg opened #17 "CI: add docker build workflow"
Let's add a `Docker Build` workflow that:
- builds android bindings dockerization
- builds node.js bindings dockerization

As said in #15:

So I think our only option is to use a self-hosted runner

[2020-11-06 23:44] dr-orlovsky commented on #17
What do we need to do in order to get self-hosted runner on our server?

[2020-11-07 14:11] zoedberg commented on #17
@dieeasy use zoedberg/rgb-sdk@2aea1d5 (branch [`CI_docker_build`](https://github.com/zoedberg/rgb-sdk/tree/CI_docker_build)) as a starting point

[2020-11-09 13:56] dr-orlovsky commented on #2
@zoedberg pls check the task description, there is an important update related to exposing `validate` and `accept` methods

[2020-11-11 08:29] Goosie opened #18 "Did you mean 'fix'?"
After cloning rgb-sdk, cd rust-lib you get a warning: Did you mean 'fix'? Running cargo fix cargo gives updating, dowdloaded and compiling mesages. When you run cargo lipo again, the warning comes up again: mu such subcommand 'lipo' Did you mean 'fix'? What means this?
![image](https://user-images.githubusercontent.com/176074/98787907-63ecdf00-2400-11eb-8f6d-1961a149c787.png)

[2020-11-11 10:01] zoedberg commented on #18
have you tried running `cargo install cargo-lipo`?

please note that the instructions in the `README.md` need to be fixed. use instructions for the specific bindings you want to build (currently available: node.js, android, ios)

[2020-11-11 10:19] Goosie commented on #18
Yess thanks, that was the trick.

[2020-11-11 10:39] #18 closed

[2020-11-11 10:39] Goosie commented on #18
cargo install cargo-lipo was the trick should be added in the readme file

[2020-11-11 11:27] zoedberg opened #19 "ignored config parameters"
The following issues are related to this project and [rgb-node](https://github.com/LNP-BP/rgb-node).

1) in the ffi library, the function `start_rgb`, after collecting user's configuration in a `rgb::i9n::Config` struct

    e.g. `Config { stash_endpoint: Ipc("/tmp/rgb-node/testnet/stashd.rpc"), contract_endpoints: {Fungible: Ipc("/tmp/rgb-node/testnet/fungibled.rpc")}, network: Testnet3, threaded

[2020-11-12 11:34] St333p commented on #14
I spent some time investigating this, and I have the feeling that this issue arises from the fact that the invoice is related to an asset this rgb-node does not know about. Since language binding does not expose *invoice creation* nor *assset import* functionalities, I think there is no way to create a working demo for `transfer` alone.

A viable approach would be to issue the asset on a separate

[2020-11-13 13:42] zoedberg commented on #2
for convenience functions, do you mean the methods `asset_allocations` and `output_assets`?

should I first add them to the `i9n` module on rgb-node?

[2020-11-13 16:33] nicbus commented on #17
#### some considerations

quickly looked into shrinking down the docker image size but looks like it's temporarily eating up way more than the final ~15GB, so I guess there's nothing we can do to stay in the 14GB limit and a self-hosted runner could be the only way to go

the first concern about a self-hosted runner is that the stock github actions runner is not meant to run unsafe workflows and n

[2020-11-13 21:39] dr-orlovsky commented on #2
@zoedberg yes and yes

[2020-11-13 21:42] dr-orlovsky commented on #18
@Goosie added to the docs with https://github.com/LNP-BP/rgb-sdk/pull/20/files

[2020-11-17 09:11] nicbus commented on #17
is there an available host that can be dedicated to CI?
if so, we can try it out and assess if that would be a viable option for dockerized workflows

minimum hardware requirements should be:
- 2-core CPU
- 8 GB of RAM memory
- 50+ GB of free SSD disk space (to be confirmed)

[2020-11-17 09:16] zoedberg opened #23 "refactor rust library logging"
currently all logs in the rust library are performed at the `info` level.
several logs could be too verbose so we should use different logging levels.

I propose to use `debug` logs to show the received requests in their entirety and to use `info` to just show that a request has been received (without printing the request params).

[2020-11-17 09:28] zoedberg opened #24 "remove JSON serialization of params from C"
currently all complex objects like arrays and dictionaries are serialized into strings in order to be easily passed from C to Rust.
this could imply some performance issues so let's investigate a better way to pass complex objects and therefore remove all JSON serialization

[2020-11-17 11:46] dr-orlovsky commented on #23
Approach I use in RGB Node and LNP Node:
1. All large objects can be print only with `trace!` and never with `debug/info!`
2. There must be only a single `info` per operation'; today it is done already in methods inside RGB Node (for things like consignment acceptance etc)
3. All the rest is `debug!`

[2020-11-17 11:49] dr-orlovsky commented on #17
We have host in our company which can be used, but it's 64GB 64 cores, so probably needs some virtualization + it is used for different other stuff (all dockerized). What would be the best way for me to slice a piece of it dedicated for CI? (docker, some VM). OS is the latest Ubuntu

[2020-11-18 08:19] UkolovaOlga commented on #19
@dr-orlovsky

[2020-11-19 07:44] dr-orlovsky commented on #19
@zoedberg all three problems are clearly bugs/misimplementation by the developer who was doing this part of the code. I agree they have to be fixed (i.e. we need to fill in all configuration fields and use them properly, so the endpoints are needed).

Regarding the duplications of structs, they are configs for different daemons or setup environment (integration, cli etc). Shared parts can be moved

[2020-11-19 10:16] zoedberg commented on #24
after some satisfying results reached while trying to get consigment bytes (for #21), I think I could tackle this issue

[2020-11-19 14:09] nicbus commented on #17
I may have found a way to avoid unauthorized workflow runs on a self-hosted runner, some compromises are required, though

### overview

after trying some possible solutions, this is the way it could work:
- add a github application to the organization, in order to check at the github level (not runner level, where it's too late) and block workflows triggered by PRs that touch critical files
- dep

[2020-11-26 14:20] zoedberg commented on #14
This issue has some confusion. So, to recap, here we're discussing two different problems:
1. `transfer` failure: verifiable through node.js demo
2. android drops zmq socket

---

Talking about problem n. 1:
as @St333p pointed out, I think we really need the `import` method in order to make the demos able to do a `transfer`. @dr-orlovsky do you agree?

---

Talking about problem n. 2:

I'll first

[2020-11-27 14:56] zoedberg commented on #14
I solved problem n.2 :tada: later I'll explain how, for now I just want you to know you don't need to answer my last question

[2020-11-28 16:05] #19 closed

[2020-11-30 09:50] zoedberg commented on #14
**Recap of android issues**

As correctly pointed out by @dr-orlovsky, zmq sockets were dropped because of android protections. So the only solution there seems to use `inproc` transport.

After adding a method for embedded mode to the rust-lib, the call to `issue` was failing for a zmq transport error (without precise details, not sure we can do something to improve this). So, adding debugging lo

[2020-12-02 11:08] eladchen commented on #17
Hello There 👋🏻

I'm the author of the mentioned app. If there is anything I can help with, let me know :)

[2020-12-03 14:54] UkolovaOlga commented on #17
@dieeasy can you please elaborate more on this part? what steps can be taken?

[2020-12-03 17:20] nicbus commented on #17
scenario:
1. the github application is configured in order to automatically cancel workflows triggered by commits that include changes to a list of protected files
1. somebody opens a PR that triggers a workflow
2. that workflow gets canceled by the github application (since it modified a forbidden file)
3. an authorized member reviews the PR and decides it's fine and the workflow should run
4. th

[2020-12-04 13:13] zoedberg commented on #24
In order to remove JSON serialization, I see 2 possible solutions:
- mapping dictionaries (or whatever key-value structure is available on that language) into C structs
- mapping classes (or whatever complex structure is available on that language) into C structs

The first solution should require a little less code, while the second should give more flexibility.
I personally prefer the second one

[2020-12-05 15:48] dr-orlovsky commented on #24
I also think the second approach is more natural for OOP languages. Also with it we may have stuff like `config = Config::default()` or `config = new Config()` where the structure is initialized with some defaults

[2020-12-05 15:51] dr-orlovsky commented on #17
Sorry for missing the line of thoughts, can we just set up some docker thing on our server doing the build and integrating with GitHub actions? Or all the above is required for this scenario?

[2020-12-05 16:03] zoedberg commented on #2
@dr-orlovsky have you purposely closed this issue or has github automation did it?

the task "Add validate and accept functions to support acceptance of transfers (pending LNP-BP/rgb-node#97)" requires merge of #21 (which requires the consignment decoding to be fixed first)

and the task "Since transfer API is stabilized, we need to use proper arguments in c bindings (and the rest of libs) instead

[2020-12-05 16:14] dr-orlovsky commented on #2
It was github

[2020-12-05 16:28] #1 closed

[2020-12-05 16:30] zoedberg opened #28 "Add `import_asset`, `export_asset`, `list_assets` and `invoice` methods"
After closing LNP-BP/rgb-node#117, we should add the `import_asset` and `invoice` methods

[2020-12-05 17:33] dr-orlovsky commented on #28
I propose to have `list_asset` method as well, exposing `runtime.list`. W/o it is impossible to do a transfer after the issuance in any demo (or real-world) app

[2020-12-05 17:37] dr-orlovsky opened #29 "Use OOP-based language bindings/wrappers"
Noticed very strange pattern used in NodeJS, and expect that it may be the case for other languages.

[code]

while in OOP world we should have an object exposing RGB node methods, so
[code]

[2020-12-05 21:11] dr-orlovsky opened #30 "[tracking] Language bindings & APIs"
Bindings:

| Method | I9N | C Bindgen | WASM Bindgen |
| ---- | ---- | ---- | ---- |
| **1. Node management |
| start_embedded | + | + | - |
| start_external | + | + | - |
| connect | + | - | - |
| **2. Assets** |
| issue | + | + | - |
| list | - | - | - |
| export | - | - | - |
| import | - | - | - |
| invoice | - | - | - |
| **3. Balances** |
| asset_allocations | + | + | - |
| outpoint_assets |

[2020-12-06 21:52] dr-orlovsky commented on #28
BTW, invoicing does not require I9N or talking to RGB node; you can generate an invoice right in the SDK. Just construct `rgb::fungible::Invoice` object with it's data (ContractId, Outpoint, which may be constructed from tx outpoint data) and that's all

[2020-12-07 09:00] nicbus commented on #17
IMO no, hardening a runner to the point that it's safe to run any workload without first checking it is not the way we want to go

the main issue here is that github runners are not meant to run unsafe workflows

adding some details: workflows are triggered by github and then assigned to a runner (e.g. depending on labels), so a PR that triggers a workflow would be able to target a self-hosted run

[2020-12-07 09:50] zoedberg commented on #29
I don't understand what's the purpose of this issue. IMO we already have #24 for this: improvement of parameters will require adding wrappers, as decided there

that's not strange at all, node.js is based on the concept of `Promise`s (more info [here](https://nodejs.dev/learn/understanding-javascript-promises)), so this pattern is very common to see in that world.
since `Promise`s are used to hand

[2020-12-07 11:20] UkolovaOlga commented on #17
@dr-orlovsky the above described solution is concerning not only because of being pretty complicated, but also because the software is close-source AND demands total write-access to all activities of our GitHub organisation. We are currently talking to the author about auditing the code of the app and hosting the code ourselves (maybe with rewriting some parts of it if needed) + investigating othe

[2020-12-07 11:25] dr-orlovsky commented on #29
I know what promises are; my comment was not about them first of all. It was about encapsulation.

Since you mentioned promises, I will also point out they are not used for sync/blocking calls since they are blocked anyway. It creates a sense of ascynchronicity where no asynchronicity is present.

[2020-12-07 15:05] zoedberg commented on #29
from the issue description I deduced that you were referring to the `Promise`s chain, since you talked about "strange pattern" and not about encapsulation.

this piece of code could have been done in several ways, but being this a demo I don't think we should worry about its structure (which is related to node.js and not to the sdk), users integrating rgb via the node.js bindings will surely have/

[2020-12-07 16:47] dr-orlovsky commented on #29
Promises are not looking "strange" to me at all; what is looking strange is the fact that having an object already (`runtime`) we just do not call methods on it. As for the promises, I already expressed my opinion that w/o asynchronicity they are not needed and create more problems than benefits.

[2020-12-07 16:52] dr-orlovsky commented on #29
And this is not duplicate of #24 since that issue is about parameter data types

[2020-12-07 18:30] zoedberg commented on #29
all sdk methods (besides `start_rgb`/`run_rgb_embedded`) require runtime as a parameter. so to allow users to call methods on it, we need to add a wrapper (that will just hide this detail), which is the purpose of this issue. so I don't understand why you found strange that "pattern" (and that's why I thought you were referring to the `Promise`s chain)

I didn't understand this from your previous

[2020-12-08 03:08] #2 closed

[2020-12-09 13:53] zoedberg commented on #24
@dr-orlovsky since we've postponed `issue` removal, should I remove JSON serialization also from there? currently the rust method takes a single string that gets parsed into a `IssueArgs` struct by `serde`

[2020-12-09 18:12] dr-orlovsky commented on #24
This will be nice. Also pls make sure the API reflects the latest changes from v0.2 where I updated issue parameters

[2020-12-09 18:49] dr-orlovsky commented on #24
Can you pls validate the SDK issue in Java, Swift and JS against RGB Node v02 RC2? It is based on the released LNP/BP Core Lib version and the issue procedure will not change (it matches UI in Bitcoin Pro)

[2020-12-09 18:50] dr-orlovsky commented on #14
@zoedberg seems like the issue is solved and we can close it?

[2020-12-09 18:51] dr-orlovsky commented on #30
@zoedberg FYI a table where we can track progress on all API methods (current and future)^^^

[2020-12-09 18:54] dr-orlovsky commented on #29
1. I do not see why all these methods https://github.com/LNP-BP/rgb-sdk/blob/master/ffi/nodejs/rgb_node.js#L11-L38 can't be just a methods on JS object which will be exported and maintain runtime internally. That what I meant by the issue

2. Network requests in RGB Node are all synchroneous (b/c of ZMQ setup) and this can't be simply changed w/o deep refactoring of the node itself (LNP is async f

[2020-12-09 19:11] zoedberg commented on #14
Kind of. The issue was mainly about a problem on android demo, which has been solved. But here we also talked about the `transfer` method not being possible since APIs `invoice` and `import` aren't available.

I think we can still close it, because we have #28 (currently waiting for LNP-BP/rgb-node#117) that will add the missing APIs (and in the PR closing #28 we will uncomment the transfer part f

[2020-12-09 19:34] #14 closed

[2020-12-11 18:03] zoedberg commented on #28
I think we should add also an `export_asset` method. @dr-orlovsky do you agree? (if yes I will add it also to LNP-BP/rgb-node#117)

[2020-12-11 18:24] dr-orlovsky commented on #28
Yes, I think it is needed

[2020-12-15 19:11] dr-orlovsky opened #32 "ContractId gets serialized as a hex string, not bech32"

[2020-12-15 19:12] dr-orlovsky opened #33 "Error using python extension on fresh Ubuntu"
on Ubuntu, clean install, I am getting other error with python:

[code]
the librgb.so is in the right place though (i.e. `rust-lib/target/debug/librgb.so`) and python extension builds w/o any issues

[2020-12-15 21:46] #28 closed

[2020-12-15 22:31] dr-orlovsky commented on #32
Closed by https://github.com/LNP-BP/rust-lnpbp/pull/168

[2020-12-15 22:31] #32 closed

[2020-12-16 03:26] dr-orlovsky commented on #33
Solved with static linking of the rgb library (which was desired anyway) https://github.com/LNP-BP/rgb-sdk/pull/35/commits/244404145b044a4dc7903b7cbda0a3cea4b965c6

[2020-12-17 13:48] #29 closed

[2020-12-17 14:22] dr-orlovsky opened #36 "Separate class library from clib bindings in Java"

[2020-12-17 14:23] dr-orlovsky opened #37 "Make Android to be universal Java library"

[2020-12-17 14:24] dr-orlovsky opened #38 "Create Go language bindings and class library"

[2020-12-17 14:25] dr-orlovsky opened #39 "Make NPM modules autonomously compilable and publish them"

[2020-12-23 05:16] rajarshimaitra opened #41 "NPM Integration Dockerfie not working"
The npm integration docker file here https://github.com/LNP-BP/rgb-sdk/blob/master/bindings/npm/Dockerfile is out of sync with the current sdk directory structure.

Managed to create a working docker file to run the nodejs demo in a container as below

DockerFile:
[code]

This can be built by
[code]

[2020-12-23 06:03] dr-orlovsky commented on #41
Can you pls do PR so the diff will be clear?

[2020-12-23 07:36] rajarshimaitra commented on #41
Opened the PR.

[2020-12-31 10:58] Jasonvdb opened #43 "NodeJS bindings npm install errors"
**Environment:**
- MacOS Big Sur (11.1)
- Ubuntu 20.10 x64

**Terminal logs:**
[code]

[2020-12-31 11:28] dr-orlovsky commented on #43
With NodeJS v10 and Swig v4 build on Mac OS Big Sur should look like

[code]

It may be you need to either use Dockerfile from `bindings/npm` (see [bindings/npm/README.md#in-docker] for instructions) or use `NVM` to install NodeJs v10 and run build using it

[2020-12-31 11:33] dr-orlovsky commented on #43
Yes, seems the issue is in NodeJS version. Swig is incompatible with NodeJS >v11: https://github.com/swig/swig/issues/1520

[2020-12-31 11:38] Jasonvdb commented on #43
Thanks very much it is working now. Using NodeJS V10 specifically was the solution.

[2020-12-31 11:38] #43 closed

[2020-12-31 11:56] #41 closed

[2021-01-01 11:50] Jasonvdb opened #44 "Build NPM module for specific architectures"
In order to get the NodeJS bindings working for React Native we need to still compile the NPM module for the specific architectures.

`Error: dlopen(/Users/jason/Library/Developer/CoreSimulator/Devices/1B444072-AD1E-495F-8AF0-2200356C18F2/data/Containers/Bundle/Application/410AFD16-4FE8-482E-9E8C-FB6B9AF5CFA1/RgbReactNative.app/nodejs-project/Release/rgblib.node, 1): no suitable image found.`

I t

[2021-01-01 11:55] dr-orlovsky commented on #44
Seems like the path for lipo-built rgb library is wrong and the compiler can’t find it. Where you put the lipo-build library? Can you do a PR with the modified script so I can play with the build myself?

[2021-01-01 12:41] Jasonvdb commented on #44
The second error there happens when `node ./node_modules/node-gyp/bin/node-gyp.js rebuild` is called from package.json when I run `npm install` after I modifying package.json like [this](https://github.com/LNP-BP/rgb-sdk/pull/45/files).

I was hoping this would be the solution for iOS but it's likely more involved than that.

If the npm module can be specifically built for iOS then I have a test r

[2021-01-04 12:41] eladchen commented on #17
Hi - Did you try and contact me...?

[2021-01-07 12:31] dr-orlovsky commented on #44
`cargo lipo` produces output library in the other directory than `cargo build`. You need to grab the file from `target/universal/release`, not `target/release`.

[2021-01-07 12:47] Jasonvdb commented on #44
I think the problem lies with swig then? I need swig to use `target/universal/release` instead of `target/release` right?

[2021-01-07 14:05] dr-orlovsky commented on #44
Seems so

[2021-01-13 15:16] Jasonvdb commented on #44
We're going with the native iOS/Android wrapper for react native now so I'm no longer looking for a solution to this 👍

[2021-01-13 15:16] #44 closed

[2021-01-19 08:46] Jasonvdb opened #47 "Android demo compile issues"
**Steps to reproduce:**
- Used [these instructions](https://github.com/LNP-BP/rgb-sdk/tree/master/bindings/android#in-docker) to build the artifacts on ubuntu using docker.
- Copied `artifacts/android/library-debug.aar` into `demo/android/app/libs/`
- Open `/demo/android` in Android Studio and build project

**Build error:**
[code]

I noticed `org.lnpbp.rgbnode.Runtime` does not exist but `org.lnp

[2021-01-19 12:43] dr-orlovsky commented on #47
The crash seems to be another naming-related issue. Will try to fix

[2021-01-19 13:44] dr-orlovsky commented on #47
Ok, this is not the naming issue. It just can't find the library in runtime, i.e. it is not copied as a part of APK: `E/DemoApp: Error loading 'rgb_node' library: java.lang.UnsatisfiedLinkError: dlopen failed: library "librgb_node.so" not found`

[2021-01-19 13:51] dr-orlovsky commented on #47
Working on replicating all the steps. BTW, you get this error on device or in simulator? And are you using Java or already React Native?

[2021-01-19 14:03] Jasonvdb commented on #47
Have managed to get the same error on a device and simulator.

For this error I'm using the Java Android demo in this repo. I do have a react-native wrapper that is working for iOS so far. If I can get this demo working then it should be simple enough to fix for react-native as well.

[2021-01-19 14:10] dr-orlovsky commented on #47
<img width="1211" alt="Screen Shot 2021-01-19 at 15 09 13" src="https://user-images.githubusercontent.com/372034/105045600-61de7680-5a68-11eb-87b9-066b7a5f438b.png">

From what I see by looking inside `.aar` package is that the binary library called `librgb.so` and not `librgb_node.so` (while Android is looking for `librgb_node.so` as error message says). Don't know how to change that part, I assu

[2021-01-19 14:16] dr-orlovsky commented on #47
... considering of renaming `librgb.so` back into `librgb_node.so`. This renaming was mostly accidential and I see has broken many things

[2021-01-19 14:28] Jasonvdb commented on #47
I thought maybe just changing this line `final String libName = "rgb_node";` to use `rgb` instead of `rgb_node` would work but I then get the this error:

[code]

I can't see where else to fix the name, there's nothing in the gradle file it seems.

[2021-01-19 16:24] dr-orlovsky commented on #47
Ok, figured out the reason of the second error. Now actually it finds the library, however swig (after update?) generates incorrect binding linking `uchar`/`byte` to short (which is two bytes). Figuring out how to fix.

[2021-01-20 12:27] dr-orlovsky commented on #47
Spent a day investigating & trying to fix. No success so far; however what I have found out:
1. Error is a library linking error: it happens before any function inside the app or inside the library is called and before the app has actually started.
2. Error is independent from library name: I tried both `librgb` and `librgb_node`. Error and happens only when library named in the correct way (if th

[2021-01-21 06:40] dr-orlovsky commented on #47
Ok, this seems to be an Android NDK issue: https://github.com/android/ndk/issues/833

Strange we had not it before. Will try to fix by switching to c++_static library.

[2021-01-21 07:07] dr-orlovsky commented on #47
Other links relevant in the context:
- Static library may be used only when there is a single NDK library in the app, so this will probably not work alongside LNP Node (and I assume React Native uses other libs): https://developer.android.com/ndk/guides/cpp-support#static_runtimes
- Alternative is to use https://github.com/KeepSafe/ReLinker instead of `System.loadLibrary` which is more robust (and

[2021-01-21 08:59] dr-orlovsky commented on #47
ReLink does not help; the error persists.

With static lib now it can't find a function from `libc++_shared`.
The library is included into the `.aar` file, so DemoApp gradle due to some reason does not include it into the resulting apk, causing the original error.

I.e. the reason of the error is that `libc++_shared` is not part of the APK (while present in the `aar` produced from bindings). This

[2021-01-22 15:26] Jasonvdb opened #49 "iOS crash when reading returned error message"
I realised the actual issue I was having in my react native project was the JSON string I was passing through to the `allocations` parameter was not an escaped string when it should have been. But instead of handling the error and retrieving the error message with the Swift struct `RGBError` I get a runtime crash.

<img width="1077" alt="Screenshot 2021-01-22 at 16 50 19" src="https://user-images.

[2021-01-22 15:39] Jasonvdb opened #50 "Possible memory leak in iOS"
Not 100% certain this is an issue and no urgent fix or investigation required now but creating this ticket in case this causes a problem later.

After calling an rgb function from Swift code and using the pointer in `CResultString` to create Swift string, that data is only copied and the original most likely is never being realised from memory on the rust side. Usually in a C library there will be

[2021-01-23 13:41] UkolovaOlga opened #51 "Bounty 0.01 btc. Android demo app bug"
Originally reported by @Jasonvdb here https://github.com/rgb-org/rgb-sdk/issues/47

**Steps to reproduce:**
- Used [these instructions](https://github.com/LNP-BP/rgb-sdk/tree/master/bindings/android#in-docker) to build the artifacts on ubuntu using docker.
- Copied `artifacts/android/library-debug.aar` into `demo/android/app/libs/`
- Open `/demo/android` in Android Studio and build project

**Erro

[2021-01-24 11:52] 05nelsonm commented on #51
Copy the .so file into app/src/main/jniLibs/mySharedLib.so instead of libs

Alternatively, use Android Studio to create a new module of type 'import .jar/.aar', then in your app/build.gradle file's `dependencies` block add

[code]

As a PR cannot fix the issue (steps are being performed manually).

See https://donate.matthewnelson.io to send reward

[2021-01-24 14:16] dr-orlovsky commented on #51
Thank you for the suggestions!

Can you pls clarify what do you mean by this? The repo is automated with docker containers, it has READMEs, plus it is possible to modify gradle files. The bounty concept is to get the task solved by a PRs, not to get others work on it and get a full reward - since without an actual PR the reward must be split between you and those who will do the PR and show that t

[2021-01-24 14:25] 05nelsonm commented on #51
The steps to produce the issue are to manually copy the compiled .aar into the libs folder. As those steps are performed manually, a PR cannot be made to fix the issue due to the issue not being in the code base, but in the steps of importing the compiled native shared library.

I would strongly advise against merging a PR for a fix to this issue, too, as the PR would be one of compiling the binar

[2021-01-24 16:20] dr-orlovsky commented on #51
Not sure I understand why the situation you described applies. This is the script that should be modified according to your first suggestion https://github.com/rgb-org/rgb-sdk/blob/master/bindings/android/build_rust.sh#L21

BTW, as you can see a correct `jniLibs` path is already used there and it's not working.

As for the second suggestion, nothing prevents from doing PR with creating that additi

[2021-01-28 17:26] Jasonvdb commented on #49
This is the solution I've got so long that I'm going to use in another project: https://github.com/rgb-org/rgb-sdk/pull/52

[2021-01-28 22:52] alexeyneu opened #53 "docker post-build stuff failed on debian"
parrot-linux really

![Screenshot_2021-01-29_01-40-28](https://user-images.githubusercontent.com/31589671/106208598-ab4f6400-61d4-11eb-84cd-3220fd0a9818.png)

[code]
and this is fail of the last one. this was stated as a build reference or so

[2021-01-31 14:09] UkolovaOlga commented on #51
Additional feedback is present here https://github.com/rgb-org/rgb-sdk/issues/53

[2021-01-31 16:16] alexeyneu commented on #53
it's been compiled finally. stuff here happened because first time compilation script was hanged on final stage , after `successful build`

[2021-01-31 17:11] #49 closed

[2021-01-31 18:37] dr-orlovsky commented on #53
I assume the issue can be closed?

[2021-01-31 19:18] UkolovaOlga commented on #53
The issue is closed as the author reported its being outdated

[2021-01-31 19:18] #53 closed

[2021-02-02 01:56] alexeyneu commented on #51
тут вопрос на самом деле в другом. Что вот эта штука `/lib/x86/librgb.so` делает в андройд сборке?

[2021-02-02 02:46] UkolovaOlga commented on #51
Communication in our repos is held in English, so please respect our rules and use English language for your comments.

[2021-02-02 04:43] alexeyneu commented on #51
![Screenshot_2021-02-02_07-38-10](https://user-images.githubusercontent.com/31589671/106553120-bb937600-6529-11eb-9f21-2593e0111bdc.png)

@UkolovaOlga with all respect i don't understand what are you waiting for

[2021-02-02 11:41] alexeyneu commented on #51
do you have the same?

[2021-02-02 14:26] alexeyneu commented on #51
looks like i've fixed stuff you're talking about. lady hurry up a little bit please , we're talking about money here. i can make pr right now , and here's firebase report
[code]
looks like you also forgot to init/load a library, but it's a different story.

[2021-02-02 14:32] UkolovaOlga commented on #51
PR should be submitted and then it will be reviewed, as pointed out in the initial issue description.
BTC will be handed out only if and only after the PR is successfully merged. If there are several participants, the bounty will be shared between them. Firebase report is not the reason for making any payments.

[2021-02-02 14:32] UkolovaOlga commented on #51
PR should be submitted and then it will be reviewed, as pointed out in the initial issue description.
BTC will be handed out only if the PR is successfully merged. If there are several participants, the bounty will be shared between them.

[2021-02-02 15:04] alexeyneu commented on #51
i didn't say it is. It's about that the app will still not work after you merge the pr. ok

[2021-02-02 15:13] UkolovaOlga commented on #51
If the PR does not solve the described problem, no bounty will be paid (which is a pretty logical consequence).

[2021-02-03 07:53] alexeyneu commented on #51
last error turns out to be simple:
[code]

firebase log : https://storage.cloud.google.com/test-lab-bh6m4ri6pd042-nc4s0m5341qcz/web-build_2021-02-02T13%3A25%3A47.518Z_3xm9/walleye-28-en_US-portrait/logcat

and really i do not see it too.

https://github.com/rgb-org/rgb-sdk/blob/0e48b493252b6af68678c9696329a3b75f5f4c83/demo/android/app/src/main/java/org/lnpbp/demoapp/DemoApp.java#L22-L25

[2021-02-05 13:09] alexeyneu commented on #51
so issue is fixed now. you should see `libc++_shared` in demo apk because now it's linked properly. it was optimized out before by android ndk(android studio one) .And it was so for a reason.
![Screenshot from 2021-02-05 16-14-56](https://user-images.githubusercontent.com/31589671/107038355-71322380-67cd-11eb-8125-172e07cde890.png)

side notes:
given that you can setup your second library this way

[2021-02-05 19:15] alexeyneu commented on #51
https://github.com/alexeyneu/rgb-sdk/tree/test
here i have app ready for android studio compilation with `.aar` included . you can compile it in studio right away and check lib presence in apk. Also you can unpack the `.aar` and check library with `readelf -d` to compare it to yours one.   stuff is on the `test` branch of my repo so you can clone it then do `git checkout -b test` . you might be fa

[2021-02-06 02:09] dr-orlovsky commented on #51
\+ 20806 files? 20 thousand new files after the checkout? Are you joking?

[2021-02-06 02:22] dr-orlovsky commented on #51
And sorry, I do not need the presence of the library in the .aar. It was already there. I need the app launching and running. Please stop wasting my time and spamming until you get the solution ready.

[2021-02-06 02:22] #51 closed

[2021-02-06 03:22] alexeyneu commented on #51
@dr-orlovsky good luck. see you soon

[2021-04-25 11:40] AnonymousGeekDev commented on #47
Hello here. I just read the comments, and I want to help, but I am still trying to figure out what the exact issue is. Please can someone help me better understand? Thanks in advance :)

[2021-05-21 23:09] KotlinGeekDev commented on #47
Hello @dr-orlovsky . I am a volunteer for solving this bug. I just had a discussion with an NDK dev about it [here](https://github.com/android/ndk/issues/1508) . It seems that one of the problems is a dependency(actually, a set of dependencies), cc, and cmake, that first need to be updated, for better interop with the current version of the NDK(or newer) used in the build script.
Thanks.

[2021-06-06 10:10] dr-orlovsky commented on #47
Hi @AnonymousGeekDev! Thank you for proposing volunteering! Right now this demo is outdated and we are preparing compatibility-breaking release of RGB which will require update of the demo and will reduce the number of downstream C dependencies, so the issue may be resolved at that point (but we may have other new issues of course, so we may still need your help then)

[2021-06-15 23:19] KotlinGeekDev commented on #47
OK @dr-orlovsky thanks for the feedback! I am also interested in building an Android client for MyCitadel, and I have the impression that the future changes will probably be of relevance there :)

[2021-06-19 07:33] youkchan opened #56 "Python demo issue"
Hi! I tried to use python' demo to understand RGB protocol. But It didn't work for me.

**Issue**
- Used [these instructions ](https://github.com/rgb-org/rgb-sdk/tree/master/bindings/python)to build python' artifacts on MacOS using docker.
 ->Python' Dockerfile seems to be a little bit old and I fixed it for now.
     line 25 `COPY rust-lib /rgb-sdk/rust-lib`-> `COPY librgb /rgb-sdk/librgb`

- Exe

[2021-06-19 09:28] youkchan commented on #56
I solved it myself.
Building it on docker(linux), Artifacts can't work on MacOS.
It's simple things.

But some trivial things on README better to be fixed I think.
(rust version. about running on MacOS...etc)
I will do a pull request.

[2021-07-19 07:11] #56 closed

[2021-08-01 13:58] dr-orlovsky commented on #47
@AnonymousGeekDev we will ship so-called [CitadelRuntime](https://github.com/mycitadel/citadel-runtime) Android build as a library that you will be able to use in your wallet on Android

[2022-06-06 14:58] zoedberg commented on #47
as @DanAlbert pointed out [here](https://github.com/android/ndk/issues/1508#issuecomment-845501820), the `clang++` output is clobbered by the cargo build output (by a `cp` that overrides the output of the previous command).

you can find [here](https://github.com/RGB-WG/rgb-sdk/pull/57) the PR solving this issue, making the android library work again and the `java.lang.UnsatisfiedLinkError: dlopen

[2022-07-21 13:43] Sudz24 opened #58 "How to read the witness_tx.dat file?"
Hi,

I am able to run the NodeJS demo file successfully with some fed in OUTPOINTS and PSBT.
The created output file witness_tx.dat contains the updated PSBT that can broadcasted right?
However, I am not finding a right way to read this file and get the PSBT Hex. Can you please guide me here on this?

[2022-07-21 15:48] zoedberg commented on #58
Hi!

All the demos in this repository are quite old so I don't suggest spending time on them. The latest RGB release, 0.8.0, has brought many breaking changes. I suggest to follow this demo https://github.com/LNP-BP/nodes/blob/master/contrib/demo-rgb.sh which is the most updated and vialble resource at the moment.

[2022-07-21 16:03] Sudz24 commented on #58
Thank you for the quick response @zoedberg, I will look into it.
Do we have a similar wrapper class APIs for the latest version of RGB?

[2022-07-21 16:47] zoedberg commented on #58
Not yet, but I think this project or the new https://github.com/RGB-WG/rgb-api one will do that once all the RGB components will be stable and finalized (that should happen very soon). In the meanwhile, if you're planning to integrate RGB, I suggest getting familiar with its basic concepts. RGB does not manage wallet operations, you will need to take care of the UTXOs (especially to prevent asset

[2022-07-26 17:08] Sudz24 commented on #58
Thank you for guiding me @zoedberg

I tried installing the latest packages as mentioned in the demo-rgb.sh, however I get this error while trying to use the installed CLI.

`'rgb20 binary not found: Os { code: 2, kind: NotFound, message: "No such file or directory" }'`

Do you know why this is happening? I can see the binaries under /.cargo/bin but maybe it's not installed correctly. Sorry to both

[2022-07-27 07:27] zoedberg commented on #58
I think I can help you, but this is not the correct repository where to discuss this, could you please report the issue in the https://github.com/LNP-BP/nodes/ repository?

[2022-07-27 15:30] Sudz24 commented on #58
Sure!
I will close this issue as solved, thank you.

[2022-07-27 15:30] #58 closed

[2022-10-31 05:54] Sudz24 commented on #58
Hi @zoedberg, can you let me know if there's any update on the RGB API with the new release? I don't see anything added to the repo since our last conversation.

[2022-10-31 08:34] zoedberg commented on #58
Hi! As far as I know they have not been updated. My team is currently working on https://github.com/RGB-Tools/rgb-lib which provides a higher level interface to allow people with little knowledge on RGB get started easily. It provides also bindings in kotlin, swift and python. Not sure it's what you were looking for, but, if you don't want to use Rust, they are currently the fastest way for you to

[2022-11-03 04:58] Sudz24 commented on #58
Oh okayy, thanks for the response @zoedberg!
I am keen on JS because I am trying to build a browser based app where the user can import their keys locally and perform transactions.
So the Python bindings, do they have the logic for all the steps - from creating asset, embedding data to verifying it?

[2022-11-04 10:33] zoedberg commented on #58
Python bindings allow you to create, send and receive assets.

Not sure what do you mean by "embedding data to verifying it". If you intend attaching metadata to the RGB contract yes, that's possible. For the verify part, if you intend the transfers validation, that's handled by the RGB libraries, not directly by rgb-lib. In rgb-lib the only verification we do is that an eventual file attached to

[2022-11-14 06:13] Sudz24 commented on #58
Understood, thank you for the reply @zoedberg!!
Do we have any prebuilt Asset Explorers for RGB - similar to Blockchain Explorer for BTC transactions?

[2022-11-15 08:08] zoedberg commented on #58
Having an RGB explorer similar to the ones for BTC is impossible by design.

Issuance contracts are not registered on the blockchain or anywhere public that an explorer can look at. RGB assets are private and their existence is known only to the people who own or have owned the asset. Moreover also transfers are private: parties involved in the contract can see some partial graph of past transfers

[2022-11-15 08:28] dr-orlovsky commented on #58
@Sudz24: @zoedberg is correct. I'd like to add that I think there will be a market convergence to a specific way of distributing information about the issued RGB assets.

From LNP/BP Association we propose to use Storm network (which is build on top of Lightning Network) to publish propagate the information about assets in a decentralized way. And in this regard an explorer can be build which will